{% extends 'stats/base.html' %}

{% block title %}
    <title> Dashboard </title>
{% endblock %}

{% block content %}
<h1 id="rrr"> u/{{ name}} </h1>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card card-sm text-center">
                <div class="card-header bg-primary text-white text-lg">
                    <div class="row">
                        <div class="col">
                            <h3> Total Karma: {{ total_karma }} </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-header bg-primary text-white text-lg">
                    <div class="row">
                        <div class="col">
                            <h3> Comment Karma: {{ comment_karma }} </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-header bg-primary text-white text-lg">
                    <div class="row">
                        <div class="col">
                            <h3> Link Karma: {{ link_karma }} </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-header bg-primary text-white text-lg">
                    <div class="row">
                        <div class="col">
                            <h3> Created at: {{ created_time }} </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h5> Icon: {{ icon_img }} </h5>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h5> Top 10 Recent Comments </h5>
            <table class="table table-hover text-center">
                <tr>
                    <th> Comment </th>
                    <th> Subreddit </th>
                    <th> Score </th>
                </tr>
                {% for comment in new_comments %}
                    <tr>
                        <td> {{ comment.body }} </td>
                        <td> {{ comment.subreddit }} </td>
                        <td> {{ comment.score }} </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-sm">
            <h5> Top 10 Top Comments </h5>
            <table class="table table-hover text-center">
                <tr>
                    <th> Comment </th>
                    <th> Subreddit </th>
                    <th> Score </th>
                </tr>
                {% for comment in top_comments %}
                    <tr>
                        <td> {{ comment.body }} </td>
                        <td> {{ comment.subreddit }} </td>
                        <td> {{ comment.score }} </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h5> Top 10 Recent Submissions </h5>
            <table class="table table-hover text-center">
                <tr>
                    <th> Submission </th>
                    <th> Subreddit </th>
                    <th> Score </th>
                </tr>
                {% for submission in new_submissions %}
                    <tr>
                        <td> {{ submission.title }} </td>
                        <td> {{ submission.subreddit }} </td>
                        <td> {{ submission.score }} </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-sm">
            <h5> Top 10 Top Submissions </h5>
            <table class="table table-hover text-center">
                <tr>
                    <th> Submission </th>
                    <th> Subreddit </th>
                    <th> Score </th>
                </tr>
                {% for submission in top_submissions %}
                    <tr>
                        <td> {{ submission.title }} </td>
                        <td> {{ submission.subreddit }} </td>
                        <td> {{ submission.score }} </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

<h5> Gilded </h5>
<table class="table table-hover text-center table-warning">
    <tr>
        <th> Post </th>
        <th> Subreddit </th>
        <th> Score </th>
    </tr>
    {% for gild in gilded %}
        <tr>
           <td> {{ gild.title }} </td>
            <td> {{ gild.subreddit }} </td>
            <td> {{ gild.score }} </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}