{% extends 'stats/base.html' %}
    
{% block content %}
    <div class="container index-container">
        <div class="row ">
            <div class="col-sm text-center">

            </div>
            <div class="col-sm text-center">
                <h2 class="index-header"> RedditStats </h2>
            </div>
            <div class="col-sm text-center">

            </div>
        </div>

        <div class="row">
            <div class="col-sm text-center">

            </div>
            <div class="col-sm text-center">
                <a class="index-href" href="{% url 'usearch' %}">
                    <button class="index-buttons" type="button"> Users </button>
                </a>

                <a class="index-href" href="{% url 'ssearch' %}">
                    <button class="index-buttons" type="button"> Subreddits </button>
                </a>
            </div>
            <div class="col-sm text-center">

            </div>
        </div>
    </div>
{% endblock %}