{% extends 'stats/base.html' %}
    
{% block content %}
    <div class="container">
        <div class="row ">
            <div class="col-sm text-center">

            </div>
            <div class="col-sm text-center">
                <h2> RedditStats </h2>
            </div>
            <div class="col-sm text-center">

            </div>
        </div>

        <div class="row">
            <div class="col-sm text-center">

            </div>
            <div class="col-sm text-center">
                <a href="#">
                    <button type="button"> Users </button>
                </a>

                <a href="#">
                    <button type="button"> Subreddits </button>
                </a>
            </div>
            <div class="col-sm text-center">

            </div>
        </div>
    </div>
{% endblock %}