{% extends 'stats/base.html' %}

{% block title %}
    <title> User Search </title>
{% endblock %}

{% block content %}

<div class="parent">
    <div class="search-container">
        <div class="typewriter-container">
            <div class="typewriter" id="typewriter">
                <h1 class="cursor"> </h1>
            </div>
 
            <form class="search-form" method="GET" action="{% url 'usearch' %}">
                <input class="search-input" type="search" name="redditor">
                <button class="search-button" type="submit"> Search </button>
                <!-- <i class="fa fa-search"></i> -->
            </form>
        </div>
    </div>
</div>


{% load static %}
<script src="{% static 'stats/js/user_typewriter.js' %}"></script>

{% endblock %}